#
# Realtek Semiconductor Corp.
#
# RLX Linux Kernel Configuration
#
# Tony Wu (tonywu@realtek.com)
# Dec. 07, 2008
#

source "formosa/config.top"
source "formosa/config.soc"

#
# ARM
#
config SHEIPA
	bool
	default y
	select CPU_BIG_ENDIAN if SOC_CPU_EB
	select CPU_LITTLE_ENDIAN if SOC_CPU_EL
	select ARM_GIC
	select CPU_HAS_L2C if SOC_ENABLE_L2C
	select HW_HAS_PCI if SOC_ENABLE_PCI
	select HW_HAS_USB if SOC_ENABLE_USB
	select HAVE_SMP if SOC_ENABLE_SMP
	select SMP if SOC_ENABLE_SMP

#
# CPU
#
config CPU_ARMA53
	bool
	default y if SOC_CPU_ARMA53
	select CPU_V8

config CPU_ARMA57
	bool
	default y if SOC_CPU_ARMA57
	select CPU_V8

config CPU_ARMA57_A53
	bool
	default y if SOC_CPU_ARMA57_A53
	select CPU_V8

#
# CACHE
#
config CPU_HAS_L2C
	bool

#
# BUS
#
config HW_HAS_USB
	bool

config HW_HAS_PCI
        bool
